<div class="jumbotron text-center">
    <div class="container">
        <h1>Get started!</h1>
        <img src="http://i306.photobucket.com/albums/nn260/roosterwooster/tiger.jpg" alt="tiger" style="width: 100%">
        <!-- button to budget-->
        <div>
            <p><a class="btn btn-primary btn-lg" href="app/views/pages/budget.html" role="button">It's easy. Really.</a>
            </p>
        </div>

        <div>
            <p>Just because you're a writer, artist, musician, art historian ... you get the idea ... doesn't mean a lifetime of scraping by. Save, invest and budget with TigerApp.</p>
        </div>
    </div>
</div>

<!-- <div class="jumbotron text-center">
    <h1>Home</h1>
    <p>{{home.message}}</p>
</div> -->
